{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merit Form</title>
    <!-- Link to your CSS file if needed -->
    <link rel="stylesheet" href="{% static 'test.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="heading">PVG's College of Engineering & Technology & G.K. Pate (Wani) Institute of Management</h1>
        <h2 class="heading">Merit Form - AY 2024-25</h2>
        {% if final %}
            <h4>"Uploaded document is a Final Merit List document."</h4>
        {% else %}
            <h4>"Uploaded document is NOT a Final Merit List document."</h4>
        {% endif %}

        <form method="post" enctype="multipart/form-data" action="{% url 'save_forms' %}">
            {% csrf_token %}
            <fieldset>
                <legend>Student Details</legend>
                <!-- {{sform.as_p}}  Render form fields as <p> elements -->
                <div class="form-group">
                    <label for="studentname">Student's Name (As per HSC Marksheet):</label>
                    {{sform.studentname}}
                    <!-- <input type="text" name="studentname" id="studentname" autocapitalize="on" value=""> -->
                </div>
                <div class="form-group">
                    <label for="email">E-mail Address:</label>
                    {{sform.email}}
                    <!-- <input type="email" name="email" id="email" value=""> -->
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile Number:</label>
                    {{sform.mobile}}
                    <!-- <input type="tel" name="mobile" id="mobile" maxlength="10" value="">1 -->
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    {{sform.address}}
                    <!-- <input type="text" name="address" id="address" value=""> -->
                </div>
            </fieldset>
            <fieldset>
                <legend>Parent/Guardian Details</legend>
                <div class="form-group">
                    <label for="pname">Parent/Guardian Name:</label>
                    {{sform.pname}}
                    <!-- <input type="text" name="pname" id="pname" value=""> -->
                </div>
                <div class="form-group">
                    <label for="pnumber">Mobile No.:</label>
                    {{sform.pnumber}}
                    <!-- <input type="tel" name="pnumber" id="pnumber" value="" maxlength="10"> -->
                </div>
                <!-- {{pform.as_p}} -->
            </fieldset>            

            <fieldset>
                <div class="form-group">
                    <label for="applNo">Application Number:</label>
                    <input type="text" name="applNo" id="applNo" value="{{ dform.applNo }}" maxlength="10">
                </div>
                <legend>Document</legend>
                {{dform.as_p}}
                {% if file_path %}
                    <a href="{{ MEDIA_URL }}{{ file_path }}" target="_blank">View Uploaded File</a>
                {% else %}
                    No file uploaded.
                {% endif %}
            </fieldset>

            <fieldset>
                <legend>Exam Details</legend>
                <!-- {{cetform.as_p}} -->
                <div id="cetDetails">
                    <h3>CET Details</h3>
                    <label for="cetPhysics">Physics Marks:</label>
                    {{cetform.cetPhysics}}
                    <label for="cetChemistry">Chemistry Marks:</label>
                    {{cetform.cetChemistry}}
                    <label for="cetMathematics">Mathematics Marks:</label>
                    {{cetform.cetMathematics}}
                    <label for="cetPercentile">Total Percentile:</label>
                    {{cetform.cetPercentile}}
                </div>
                {% if jee_present %}
                    <!-- {{jeeform.as_p}} -->
                    <div id="jeeDetails">
                        <h3>JEE Details</h3>
                        <label for="jeePhysics">Physics Marks:</label>
                        {{jeeform.jeePhysics}}
                        <label for="jeeChemistry">Chemistry Marks:</label>
                        {{jeeform.jeeChemistry}}
                        <label for="jeeMathematics">Mathematics Marks:</label>
                        {{jeeform.jeeMathematics}}
                        <label for="jeePercentile">Total Percentile:</label>
                        {{jeeform.jeePercentile}}
                    </div>
                {% else %}
                    "No JEE Details Present"
                {% endif %}
            </fieldset>

            <fieldset>
                <legend>Merit Details</legend>
                <label for="mhMerit">MH Merit No.:</label>
                {{sform.mhMerit}}
                <label for="aiMerit">All India Merit No.:</label>
                {{sform.aiMerit}}
            </fieldset>

            <fieldset>
                <legend>Undertaking by Candidates and Parents</legend>
                <p>
                    We have read all the Rules of Admission process and after understanding these rules thoroughly, we have filled in the application form for admission for the AY 2023-24. The information given by us in the application is true to the best of our knowledge and belief. We understood that if any of the statements made by us in the application form or any information supplied by us in connection with the candidate's admission is later on at any time, found to be false or incorrect, candidate's admission will be cancelled, fees forfeited, and candidate may be expelled from the Institute by the Director of the Institute.
                </p><br>
                <!-- {{aform.as_p}} -->
                <p>
                    We are fully aware that if any information mentioned above furnished by us is found INCORRECT due to any reason (intentionally or unintentionally), candidate will have no claim on the seat allotted to him/her in PVG's College of Engineering & Technology and G.K. Pate (Wani) Institute of Management, Pune and that candidate will be completely out of the admission process of ACAP (Spot) Rounds of the Institute.
                </p><br>
                <div style="text-align: center; display: flex; align-items: center;">
                    {{ sform.agreed }}
                    I Agree
                </div>
            </fieldset>
            {% if final %}
                <input type="submit" value="Submit">
            {% else %}
                <h2>Submitted application is not final merit list document.</h2>
            {% endif %}
        </form>
    </div>
</body>
</html>
